{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'content.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    {% csrf_token %}
    <input type="text" id="user-pk" value="{{ request.user.pk }}" hidden>
    <div class="text-center mt-5">
        <h1>Регистрация</h1>
    </div>
    <div id="list-empty">
        <form class="d-flex flex-column justify-content-between h-100" method="post" novalidate>
            <div>
                {% csrf_token %}
                {{ form.username }}
                <p class="login-error text-center">
                    {{ form.username.errors.0 }}
                </p>
                {{ form.password1 }}
                <p class="login-error text-center">
                    {{ form.password1.errors.0 }}
                </p>
                {{ form.password2 }}
                <p class="login-error text-center">
                    {{ form.password2.errors.0 }}
                </p>
                
                <p class="login-error text-center">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                
            </div>
            <div id="empty-menu">
                <div>
                    <button class="btn btn-secondary" id="add-btn">Зарегестрироваться</button>
                    <div class="w-100 mt-2 text-center"><a class="text-decoration-none text-secondary" href="{% url 'login' %}">Войти</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'login.js' %}"></script>
{% endblock %}
